*,
::after,
::before {
	box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ol, ul {
	list-style: none;
}

body {
	text-rendering: optimizespeed;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	display: block;
	max-width: 100%;
}

button,
input,
select,
textarea {
	padding: 0;
	font: inherit;
}

a {
	text-decoration: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}